body {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  height: auto;
  font-size: 0.9em;
  background-color: #ffffff;
}
.generate {
  margin-bottom: 8px;
  position: relative;
  top: 28px;
  float:left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #000;
  padding: 10px 20px;
  background: lightgreen;
  border-radius: 4px;
  border: 1px solid #000;
}
.passwordArea {
  position: relative;
	float: left;
	width: auto;
	top: 18px;
  resize: none;
  height: 50px;
  color: #000;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}
.dropdownMenu {
  float:left;
  border-radius: 4px;
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  background: #fff;
  line-height: 1;
  height: 31px;
}
.dropdownMenu2 {
	position: relative;
	top: 8px;
  float:left;
  border-radius: 4px;
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  background: #fff;
  line-height: 1;
  height: 31px;
}
.copyMe {
	position: relative;
	top: 10px;
	float: left;
  color: green;
}
.requiredLength {
	position: relative;
	top: 10px;
	float: left;
  color: red;
}
.astk {
	position: relative;
	top: 10px;
	float: right;
	color: red;
}
